* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Importación de fuentes
@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel-Regular.otf);
}

@font-face {
    font-family: HelloHoney;
    src: url(../fonts/hello\ honey.otf);
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald.ttf);
}

@font-face {
    font-family: PoetsenOne;
    src: url(../fonts/PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: SedanSC;
    src: url(../fonts/SedanSC-Regular.ttf);
}

//Variables Fuentes
$font1: Cinzel;
$font2: HelloHoney;
$font3: Oswald;
$font4: PoetsenOne;
$font5: SedanSC;

// Variables Backgrounds
$fondo1: #ffffff5d;
$fondo2: #000;
$fondo3: #a4b698;
$fondo4: #00000071;

// Variables Colores
$color1: #333;
$color2: #000;
$color3: #fff;
$color4: #7e7c7c;

// Titulos y Desc
.categoria-title {
    text-align: center;
    padding: 20px;
    color: $color3;
    text-shadow: 0 0 15px $color2;
    font-size: 50px;
    font-family: oswald, sans-serif;
}

.categoria-desc {
    font-size: 25px;
    color: $color3;
    text-shadow: 0 0 15px $color2;
    font-family: oswald, sans-serif;
}

//Contacto
.contacto-banner {
    .contacto-title {
        @extend .categoria-title;
    }

    .contacto-desc {
        @extend .categoria-desc;
    }

    .contacto-bg {
        background-image: url(../assets/bg-contacto.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 15px;
        height: 400px;
    }
}

.contacto {
    padding-bottom: 15px;

    .contacto-info {
        width: 400px;
        background-color: $fondo1;
        border: 2px solid $color2;
        border-radius: 10px;
        margin: 20px;
        padding: 10px;

        h2 {
            text-align: center;
            font-family: Oswald, sans-serif;
            font-size: 35px;
        }

        p {
            font-size: 20px;
        }

        ul {
            list-style-type: none;
        }

        a {
            color: $color2;
            font-size: 30px;
            text-decoration: none;
            text-align: center;
            letter-spacing: 5px;

            &:hover {
                color: $color4;
            }
        }
    }
}