* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Importación de fuentes
@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel-Regular.otf);
}

@font-face {
    font-family: HelloHoney;
    src: url(../fonts/hello\ honey.otf);
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald.ttf);
}

@font-face {
    font-family: PoetsenOne;
    src: url(../fonts/PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: SedanSC;
    src: url(../fonts/SedanSC-Regular.ttf);
}

//Variables Fuentes
$font1: Cinzel;
$font2: HelloHoney;
$font3: Oswald;
$font4: PoetsenOne;
$font5: SedanSC;

// Variables Backgrounds
$fondo1: #ffffff5d;
$fondo2: #000;
$fondo3: #a4b698;
$fondo4: #00000071;

// Variables Colores
$color1: #333;
$color2: #000;
$color3: #fff;
$color4: #7e7c7c;

// Titulos y Desc
.categoria-title {
    text-align: center;
    padding: 20px;
    color: $color3;
    text-shadow: 0 0 15px $color2;
    font-size: 50px;
    font-family: oswald, sans-serif;
}

.categoria-desc {
    font-size: 25px;
    color: $color3;
    text-shadow: 0 0 15px $color2;
    font-family: oswald, sans-serif;
}

//index
.carousel-item {
    img {
        height: 700px;
        width: 100%;
    }
}


.btn {
    font-family: $font1;
    text-decoration: none;
    font-size: 20px;
    margin-top: 5px;
    background-color: $fondo2;
    border-radius: 10px;
    color: $color3;

    &:hover {
        color: $color4;
    }
}

.call-carousel {
    background-color: $fondo1;
    border-radius: 10px;
    justify-content: center;
    font-family: $font1;
    text-shadow: 0 0 15px #444;

    h5 {
        color: $color2;
        font-size: 30px;
        padding-bottom: 10px;
    }

    p {
        color: $color2;
        font-size: 20px;
    }
}

.card-body {
    margin-top: 10px;
    border: 1px solid $color2;
    border-radius: 10px;
    background-color: $fondo1;
}

.card-title {
    font-size: 30px;
    font-family: $font1;
}

.card-desc {
    font-size: 20px;
}