* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Importación de fuentes
@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel-Regular.otf);
}

@font-face {
    font-family: HelloHoney;
    src: url(../fonts/hello\ honey.otf);
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald.ttf);
}

@font-face {
    font-family: PoetsenOne;
    src: url(../fonts/PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: SedanSC;
    src: url(../fonts/SedanSC-Regular.ttf);
}

//Variables Fuentes
$font1: Cinzel;
$font2: HelloHoney;
$font3: Oswald;
$font4: PoetsenOne;
$font5: SedanSC;

// Variables Backgrounds
$fondo1: #ffffff5d;
$fondo2: #000;
$fondo3: #a4b698;
$fondo4: #00000071;

// Variables Colores
$color1: #333;
$color2: #000;
$color3: #fff;
$color4: #7e7c7c;

// Titulos y Desc
.categoria-title {
    text-align: center;
    padding: 20px;
    color: $color3;
    text-shadow: 0 0 15px $color2;
    font-size: 50px;
    font-family: $font3;
}

.categoria-desc {
    font-size: 25px;
    color: $color3;
    text-shadow: 0 0 15px $color2;
    font-family: $font3;
}

// Productos
.tyd-bg{
    background-color: $fondo4;
    border-radius: 10px;
}

.prod-body {
    margin-top: 10px;
    border-radius: 10px;
    background-color: $fondo1;

    .prod-title {
        font-family: $font4;
        font-size: 20px;
    }

    p {
        font-family: $font3;
    }
}

.product {
    padding: 80px 0;

    .prod-titulo{
        font-family: $font2;
        font-size: 100px;
        color: $color3;
        text-shadow: 0 0 15px $color2;
    }

    .prod-desc{
        font-family: $font5;
        font-size: 20px;
        color: $color3;
        text-shadow: 0 0 15px $color2;
    }

    .categoria-prod{
        font-family: $font5;
        text-align: center;
        font-size: 70px;
    }

    img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }

    .prod {
        transition: all 0.7s;
        filter: grayscale(70%);

        &:hover {
            filter: grayscale(0%);
            transform: scale(1.02);
        }
    }
}