* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Regular.otf);
}
@font-face {
  font-family: HelloHoney;
  src: url(../fonts/hello\ honey.otf);
}
@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald.ttf);
}
@font-face {
  font-family: PoetsenOne;
  src: url(../fonts/PoetsenOne-Regular.ttf);
}
@font-face {
  font-family: SedanSC;
  src: url(../fonts/SedanSC-Regular.ttf);
}
.categoria-title {
  text-align: center;
  padding: 20px;
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-size: 50px;
  font-family: oswald, sans-serif;
}

.categoria-desc {
  font-size: 25px;
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-family: oswald, sans-serif;
}

.carousel-item img {
  height: 700px;
  width: 100%;
}

.btn {
  font-family: Cinzel;
  text-decoration: none;
  font-size: 20px;
  margin-top: 5px;
  background-color: #000;
  border-radius: 10px;
  color: #fff;
}
.btn:hover {
  color: #7e7c7c;
}

.call-carousel {
  background-color: rgba(255, 255, 255, 0.4509803922);
  border-radius: 10px;
  justify-content: center;
  font-family: Cinzel;
  text-shadow: 0 0 15px #444;
}
.call-carousel h3 {
  color: #000;
  font-size: 30px;
  padding-bottom: 10px;
}
.call-carousel p {
  color: #000;
  font-size: 20px;
}

.card-body {
  margin-top: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4509803922);
}

.card-title {
  font-size: 30px;
  font-family: Cinzel;
}

.card-desc {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Regular.otf);
}
@font-face {
  font-family: HelloHoney;
  src: url(../fonts/hello\ honey.otf);
}
@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald.ttf);
}
@font-face {
  font-family: PoetsenOne;
  src: url(../fonts/PoetsenOne-Regular.ttf);
}
@font-face {
  font-family: SedanSC;
  src: url(../fonts/SedanSC-Regular.ttf);
}
.categoria-title {
  text-align: center;
  padding: 20px;
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-size: 50px;
  font-family: Oswald;
}

.categoria-desc {
  font-size: 25px;
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-family: Oswald;
}

.tyd-bg {
  background-color: rgba(0, 0, 0, 0.4431372549);
  border-radius: 10px;
}

.prod-body {
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3647058824);
}
.prod-body .prod-title {
  font-family: PoetsenOne;
  font-size: 20px;
}
.prod-body p {
  font-family: Oswald;
}

.product {
  padding: 80px 0;
}
.product .prod-titulo {
  font-family: HelloHoney;
  font-size: 100px;
  color: #fff;
  text-shadow: 0 0 15px #000;
}
.product .prod-desc {
  font-family: SedanSC;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 15px #000;
}
.product .categoria-prod {
  font-family: SedanSC;
  text-align: center;
  font-size: 70px;
}
.product img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.product .prod {
  transition: all 0.7s;
  filter: grayscale(70%);
}
.product .prod:hover {
  filter: grayscale(0%);
  transform: scale(1.02);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Regular.otf);
}
@font-face {
  font-family: HelloHoney;
  src: url(../fonts/hello\ honey.otf);
}
@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald.ttf);
}
@font-face {
  font-family: PoetsenOne;
  src: url(../fonts/PoetsenOne-Regular.ttf);
}
@font-face {
  font-family: SedanSC;
  src: url(../fonts/SedanSC-Regular.ttf);
}
.categoria-title, .nosotros-banner .nosotros-title {
  text-align: center;
  padding: 20px;
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-size: 50px;
  font-family: oswald, sans-serif;
}

.categoria-desc, .nosotros-banner .nosotros-desc {
  font-size: 25px;
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-family: oswald, sans-serif;
}

.nosotros-banner .nosotros-bg {
  background-image: url(../assets/bg-pistacho.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  height: 450px;
}

.nosotros {
  padding-bottom: 15px;
}
.nosotros .nosotros-info {
  width: 350px;
  background-color: rgba(255, 255, 255, 0.3647058824);
  border: 2px solid #000;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  transition: all 0.7s;
  filter: grayscale(70%);
}
.nosotros .nosotros-info:hover {
  filter: grayscale(0%);
  transform: scale(1.03);
}
.nosotros .nosotros-info h2 {
  text-align: center;
  font-family: SedanSC;
  font-size: 25px;
}
.nosotros .nosotros-info p {
  font-size: 20px;
}
.nosotros .nosotros-info ul {
  list-style-type: none;
}
.nosotros .nosotros-info a {
  color: #000;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
}
.nosotros .nosotros-info a:hover {
  color: #7e7c7c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Regular.otf);
}
@font-face {
  font-family: HelloHoney;
  src: url(../fonts/hello\ honey.otf);
}
@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald.ttf);
}
@font-face {
  font-family: PoetsenOne;
  src: url(../fonts/PoetsenOne-Regular.ttf);
}
@font-face {
  font-family: SedanSC;
  src: url(../fonts/SedanSC-Regular.ttf);
}
.categoria-title, .user-banner .datos-title {
  text-align: center;
  padding: 20px;
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-size: 50px;
  font-family: oswald, sans-serif;
}

.categoria-desc, .user-banner .datos-desc {
  font-size: 25px;
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-family: oswald, sans-serif;
}

.user-banner .datos-bg {
  background-image: url(../assets/bg-usuario.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 40px;
  height: 400px;
}

.datos-user {
  justify-content: space-around;
  border-radius: 10px;
}
.datos-user .user-title {
  font-family: SedanSC;
  font-size: 30px;
}
.datos-user .btn-user {
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  font-family: Cinzel;
}
.datos-user .btn-user:hover {
  color: #7e7c7c;
}

.caja {
  transition: all 0.7s;
  filter: grayscale(70%);
}
.caja:hover {
  filter: grayscale(0%);
  transform: scale(1.01);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Regular.otf);
}
@font-face {
  font-family: HelloHoney;
  src: url(../fonts/hello\ honey.otf);
}
@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald.ttf);
}
@font-face {
  font-family: PoetsenOne;
  src: url(../fonts/PoetsenOne-Regular.ttf);
}
@font-face {
  font-family: SedanSC;
  src: url(../fonts/SedanSC-Regular.ttf);
}
.categoria-title, .contacto-banner .contacto-title {
  text-align: center;
  padding: 20px;
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-size: 50px;
  font-family: oswald, sans-serif;
}

.categoria-desc, .contacto-banner .contacto-desc {
  font-size: 25px;
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-family: oswald, sans-serif;
}

.contacto-banner .contacto-bg {
  background-image: url(../assets/bg-contacto.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  height: 400px;
}

.contacto {
  padding-bottom: 15px;
}
.contacto .contacto-info {
  width: 350px;
  background-color: rgba(255, 255, 255, 0.3647058824);
  border: 2px solid #000;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
.contacto .contacto-info .mapa {
  width: 300px;
}
.contacto .contacto-info h2 {
  text-align: center;
  font-family: Oswald, sans-serif;
  font-size: 35px;
}
.contacto .contacto-info p {
  font-size: 20px;
}
.contacto .contacto-info ul {
  list-style-type: none;
}
.contacto .contacto-info a {
  color: #000;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 5px;
}
.contacto .contacto-info a:hover {
  color: #7e7c7c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Regular.otf);
}
@font-face {
  font-family: HelloHoney;
  src: url(../fonts/hello\ honey.otf);
}
@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald.ttf);
}
@font-face {
  font-family: PoetsenOne;
  src: url(../fonts/PoetsenOne-Regular.ttf);
}
@font-face {
  font-family: SedanSC;
  src: url(../fonts/SedanSC-Regular.ttf);
}
.categoria-title {
  text-align: center;
  padding: 20px;
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-size: 50px;
  font-family: oswald, sans-serif;
}

.categoria-desc {
  font-size: 25px;
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-family: oswald, sans-serif;
}

body {
  background-color: #a4b698;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}
footer a {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  letter-spacing: 10px;
}/*# sourceMappingURL=estilos.css.map */