*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: Oswald;
    src: url(../fonts/Oswald.ttf);
}

body{
    background-color: #a4b698;
}

.call-carousel{
    background-color: #ffffff5d;
    border-radius: 10px;
    justify-content: center;
    font-family: Oswald, sans-serif;
}

.call-carousel h5{
    color: #000;
    font-size: 30px;
}

.call-carousel p{
    color: #000;
    font-size: 20px;
}

.btn{
    text-decoration: none;
    margin-top: 5px;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
}

.btn:hover{
    color: #7e7c7c;
}

.btn-carousel{
    font-size: 50px;
}

footer{
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 10px;
}

.card-body{
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #ffffff5d;
}

.card-title{
    font-size: 30px;
}

.card-desc{
    font-size: 25px;
}

.titulo{
    text-align: center;
    background-color: #a4b698;
    padding: 20px;
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-size: 50px;
    font-family: oswald, sans-serif;
}

.desc{
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-family: oswald, sans-serif;
}

.prod-body{
    margin-top: 10px;
    border-radius: 10px;
    background-color: #ffffff5d;
}

.product{
    padding: 80px 0;
}

.product img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.nosotros{
    padding-bottom: 15px;
}

.nosotros-title{
    text-align: center;
    padding: 20px;
    color: #fff;
    text-shadow: 0 0 15px #000;
    font-size: 50px;
    font-family: oswald, sans-serif;
}

.nosotros-desc{
    font-size: 25px;
    color: #fff;
    text-shadow: 0 0 15px #000;
    font-family: oswald, sans-serif;
}

.nosotros-bg{
    background-image: url(../assets/bg-pistacho.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    height: 500px;
}

.nosotros-info{
    width: 400px;
    background-color: #ffffff5d;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.nosotros-info h3{
    text-align: center;
    font-family: Oswald, sans-serif;
    font-size: 35px;
}

.nosotros-info p{
    font-size: 25px;
}

.nosotros-info ul{
    list-style-type: none;
}

.nosotros-info a{
    color: #000;
    font-size: 35px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 7px;
}

.nosotros-info a:hover{
    color: #333;
}